/* Font Outfit from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Start Variables */

:root {
    --white-color: hsl(0, 0%, 100%);
    --light-gray-color: hsl(212, 45%, 89%);
    --grayish-blue-color: hsl(220, 15%, 55%);
    --dark-blue-color: hsl(218, 44%, 22%);
    --p-font-size: 15px
}

/* End Variables */

/* Start Reset */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: var(--p-font-size);
    font-family: 'Outfit', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* End Reset */

/* Start Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* End Attribution */
/* Start Body */
body {
    background-color: var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

/* End Body */

/* Start Container */

.container {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container img {
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    margin-bottom: inherit;
}

.container h1 {
    color: var(--dark-blue-color);
    text-align: center;
    font-size: 23px
}

.container p {
    color: var(--grayish-blue-color);
    text-align: center;
    font-size: var(--p-font-size);
    padding: 20px;
}

/* End Container */

/* Start Media */
@media (min-width: 450px) {
    .container {
        width: 340px;
    }
}

/* End Media */